<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#  Stylesheets  #}
    <link rel="stylesheet" href="{% static 'oneweb/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'oneweb/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    {#  Javascripts  #}
    <script src="{% static 'oneweb/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/master.js' %}"></script>

    {#  Google Font  #}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    {#   Title  #}
    <title>
        {% block title_block %}

        {% endblock %}
    </title>
</head>
<body>

{# Navigation start #}
<nav class="navbar navbar-expand-sm navbar-light bg-light ow-navbar">
    <a class="navbar-brand" href="/">OneWeb</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-5">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
{# Navigation end #}

{# Content start #}
<div class="container-fluid">

    {% block content_block %}

    {% endblock %}

</div>
{# Content end #}

</body>
</html>